

/*        FROM WIDTH               TO WIDTH     */
@media (max-width: 480px){
    .hello-header {
        margin-top: 25px;
        margin-left: 5px;}
    .hello-header > p {
        margin-left: 0px;}
    img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;}
    .resume-section {
        width: 90%;
        margin-left: 15px;
        text-align: center; }
    .about-me-section {
        width: 90%;
        margin-left: 15px;
        text-align: center;}
}

@media (min-width: 481px) and (max-width: 1200px){ /* <----- */
    .hello-header {
        margin-top: 25px;
        margin-left: 25px;}
    .hello-header > p {
        margin-left: 0px; }
    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;}
    .resume-section {
        float: left;
        width: 40%;
        margin-left: 35px;
        text-align: center;}
    .about-me-section {
        float: right;
        width: 40%;
        margin-right: 35px;
        text-align: center;}
}

@media (min-width: 1201px){
    .hello-header {
        margin-top: 50px;
        margin-left: 150px;}
    .hello-header > p {
        margin-left: 40px; }
    img {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;}
    .resume-section {
        float: left;
        width: 40%;
        margin-left: 50px;
        text-align: center;}
    .about-me-section {
        float: right;
        width: 40%;
        margin-right: 50px;
        text-align: center;}
}


html {
    background: rgb(240, 239, 234);
    font-family: "Poppins", sans-serif;
}

.hello-header > h1 {
    display: inline;
}

.h1-welcome {
    color: rgb(35, 109, 179);
}


.footer-section {
    padding-top: 50px;
    clear: both;
    text-align: center;
    font-size: small;
}